@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;

}
header {
background-color: #f0f0f0;
width: 100%; 
position: fixed; 
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px ;


}
.log1{
   width: 10em;
margin-left: 7.5em;
}
.log2{

    width: 10em;
    margin-left: 25em;
}








.photo{
    width: 110px;
    padding-right: 12px 20px ;
    padding: 11px;
    margin:0px ;

    margin-left: 60em;

}
.progg{
    padding-right: 12px 20px ;
    padding: 11px;
    margin:0px ;

    margin-left: 60em;


}

.progress {
    position: relative;
    width: 210px;
    height: 30px;
    background: #9cbab4;
    border-radius: 5px;
    overflow: hidden;
  }
  .axao{
    background-color: rgb(184, 184, 184);
    color:rgb(184, 184, 184);
  }
  
  .progress__fill {
    width: 0%;
    height: 100%;
    background: #009579;
    transition: all 0.2s;
  }
  
  .progress__text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px "Quicksand", sans-serif;
    color: #ffffff;
  }
  
  .prog {
    overflow: hidden;
    position: relative;
  }
  
  .prog img {
    transition: transform 0.5s ease;
  }
  
  .zoom-hover:hover img {
    transform: scale(1.1);
  }

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navagation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navagation a:hover{
    color: #601cfc;
}
section{
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/backgrond.jpg) 
    no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
#fas:hover{
    
    transform: scale(1.1);

}
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.title1{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: -120px;


}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 16.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 33px;
    margin: 20px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}
.cardend:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 3em;
    text-align: center;
}
.cardend .icon {
    color: #3a6cf4;
    font-size: 3em;
    text-align: center;
}



.material-symbols-outlined{
    font-size: 16em;
    width: .5cm;
    size: 10000px;
}

.info {
    text-align: center;
}
.info1 {
    text-align: center;
}
.info2{
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.info1 h3 {color: #f87800;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    
}
.info2 h3 {color: #ff0651;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    
}

.projects {
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}
.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}
footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}
.xsalamax:hover{
   color:rebeccapurple ; 
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
.cardend{
background-color: #fff;
width: 23.25em;
box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
border-radius: 10px;
padding: 33px;
margin: 20px;
transition: 0.7s ease;
}
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
.prog:hover{
    transform: scale(1.01);
 }
  .our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (min-width: 992px) {
    .our-skills .container > div {
      flex-basis: 45%;
    }
  }
  .our-skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }
  .our-skills .container > div > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
  }
  .our-skills .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .our-skills .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
  }
  @media (max-width: 767px) {
    .our-skills .testimonials .content {
      flex-direction: column;
      text-align: center;
    }
    .our-skills .testimonials .content img {
      margin: 0 auto 20px;
    }
  }
  .our-skills .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
  }
  .our-skills .testimonials .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
  }
  .our-skills .testimonials .bullets li.active {
    background-color: rgb(40, 40, 255);
    border-color: rgb(40, 40, 255);
  }
  .our-skills .skills .prog-holder {
    margin-bottom: 40px;
  }
  .our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;

    max-width: 800px;
  }
  .asalama{

    max-width: 138px;
    float: right;
    display: flex;
margin-right: -150px;
    transition: 0.7s ease;
    margin-top: 30px;}

.asalama:hover{
     transform: scale(1.1);
  }

  .our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: rgb(40, 40, 255);
    height: 100%;
    position: relative;
  }
  .our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
  }
  .our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
  }












@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}